    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>珠宝的诱惑</h2>
              <br/>
                <p>咱们就是说这里要写一些文字介绍 <a href="https://www.bilibili.com/">这些珠宝</a></p>
                <p>那么就是说得写的比较引人注意 <a href="https://www.ikea.com/ca/en/">还不能太肉麻</a></p>
                <p>反正就是不能说废话 <a href="http://www.baidu.com/">和没有必要说的话</a></p>
                <p>当然就是说不能重复一句话</p>
                <br/>
              </div>
        </div>
    </section>
